/* line 1, app/assets/stylesheets/components/_avatar.scss */
.avatar {
  padding: .25rem;
  width: 180px;
  height: 180px;
  position: relative;
  margin: auto;
  margin-bottom: 1.75rem;
  margin-top: 0;
}

/* line 10, app/assets/stylesheets/components/_avatar.scss */
.avatar .avatar::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 16, app/assets/stylesheets/components/_avatar.scss */
.avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 24, app/assets/stylesheets/components/_avatar.scss */
.user_avatar {
  padding: .25rem;
  width: 60px;
  height: 60px;
  position: relative;
  margin: auto;
  margin-bottom: 1.75rem;
  margin-top: 0;
}

/* line 33, app/assets/stylesheets/components/_avatar.scss */
.user_avatar .avatar::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 39, app/assets/stylesheets/components/_avatar.scss */
.user_avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 1, app/assets/stylesheets/components/_post.scss */
.comments {
  display: block;
  top: 0;
  position: sticky;
  text-align: start;
  width: 380.6px;
  margin-left: 80%;
  border-left: var(--border);
  padding: .50rem;
  min-height: fit-content;
  height: 950px;
}

/* line 13, app/assets/stylesheets/components/_post.scss */
.comments .avatar {
  position: relative;
  height: auto;
  width: 80px;
  margin-left: 0;
}

/* line 19, app/assets/stylesheets/components/_post.scss */
.comments .avatar .avatar::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 25, app/assets/stylesheets/components/_post.scss */
.comments .avatar img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 33, app/assets/stylesheets/components/_post.scss */
.comments .message {
  margin-top: 1%;
}

/* line 37, app/assets/stylesheets/components/_post.scss */
.comments h3,
.comments h4,
.comments h5,
.comments h6 {
  border-bottom: var(--border);
  padding-bottom: .25rem;
  background-color: var(--color-secondary);
}

/* line 47, app/assets/stylesheets/components/_post.scss */
.replies {
  margin-left: .25rem;
  background-color: var(--color-secondary);
  border-left: var(--border);
  padding-left: .25rem;
}

/* line 54, app/assets/stylesheets/components/_post.scss */
.post {
  position: relative;
  width: 100%;
  margin: 1rem;
  margin-left: 20%;
}

/* line 60, app/assets/stylesheets/components/_post.scss */
.post .image {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: auto;
  width: 600px;
}

/* line 67, app/assets/stylesheets/components/_post.scss */
.post .image .image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 73, app/assets/stylesheets/components/_post.scss */
.post .image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 81, app/assets/stylesheets/components/_post.scss */
.post .caption {
  border: var(--border);
  max-width: 800px;
  height: auto;
  padding: .75rem;
  margin-left: auto;
  margin-right: auto;
  margin: 2rem;
}
/* line 1, app/assets/stylesheets/components/_posts.scss */
.posts {
  position: absolute;
  flex: 1 1 auto;
  flex-direction: row;
  width: 80%;
  left: 20%;
  list-style: none;
}

/* line 9, app/assets/stylesheets/components/_posts.scss */
.posts .url-small {
  color: grey;
  font-size: smaller;
  border-bottom: 1px dashed grey;
}

/* line 15, app/assets/stylesheets/components/_posts.scss */
.posts .sort {
  margin-left: 1%;
  width: 8.75rem;
  border-bottom: var(--border);
}

/* line 20, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts {
  border-bottom: var(--border);
  margin: 1rem;
}

/* line 23, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts .inline-image {
  position: relative;
  max-height: auto;
  max-width: 300px;
}

/* line 27, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts .inline-image .inline-image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 32, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts .inline-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 42, app/assets/stylesheets/components/_posts.scss */
.tag-title {
  margin-left: -15.5%;
}

/* line 45, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail {
  position: relative;
  display: block;
}

/* line 49, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail {
  position: relative;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  display: block;
}

/* line 57, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail .thumbnail::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 63, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 71, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail .expand-button {
  max-height: 2px;
  max-width: 2px;
  top: 2px;
  left: 2px;
  position: absolute;
  margin-top: 2px;
}

/* line 79, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail .expand-button img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 1, app/assets/stylesheets/components/_user_profile.scss */
.user-posts {
  position: absolute;
  left: 20%;
  flex: 1 1 auto;
  flex-direction: row;
  width: 60%;
  list-style: none;
}

/* line 9, app/assets/stylesheets/components/_user_profile.scss */
.user-posts .ind-posts {
  border-bottom: var(--border);
  margin: 1rem;
}

/* line 15, app/assets/stylesheets/components/_user_profile.scss */
.user-posts-title {
  margin-left: 1rem;
  padding-bottom: .10rem;
  width: fit-content;
  border-bottom: var(--border);
}

/* line 22, app/assets/stylesheets/components/_user_profile.scss */
.thumbnail {
  position: relative;
  height: 100px;
  width: 100px;
}

/* line 27, app/assets/stylesheets/components/_user_profile.scss */
.thumbnail .thumbnail::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 33, app/assets/stylesheets/components/_user_profile.scss */
.thumbnail img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 40, app/assets/stylesheets/components/_user_profile.scss */
.comments {
  height: 100%;
}

/* line 44, app/assets/stylesheets/components/_user_profile.scss */
.user-reply .author {
  background-color: #d6cfcf;
  padding: 6px;
}
/* line 1, app/assets/stylesheets/config/_variables.scss */
:root {
  --font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --line-height-headers: 1.1;
  --line-height-body:    1.5;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;
  --color-primary:          hsl(350, 67%, 50%);
  --color-primary-rotate:   hsl(10, 73%, 54%);
  --color-primary-bg:       hsl(0, 85%, 96%);
  --color-secondary:        hsl(184, 22%, 73%);
  --color-secondary-rotate: hsl(120, 45%, 56%);
  --color-tertiary:         hsl(49, 89%, 64%);
  --color-glint:            hsl(210, 100%, 82%);
  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       var(--color-text-header);
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-dark);
  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}
/* line 1, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar {
  display: block;
  border-right: var(--border);
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  padding-right: 2rem;
}

/* line 13, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .new_post img {
  margin-right: 6px;
}

/* line 18, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .username {
  margin-left: 2rem;
  border: var(--border);
  background-color: #d6cfcf;
}

/* line 24, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .welcome {
  margin-left: 2rem;
}

/* line 28, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .title {
  border: var(--border);
  margin: .50rem;
  background-color: #d6cfcf;
}

/* line 34, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 12rem;
}

/* line 40, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .taglist {
  display: block;
  padding: 1rem;
  list-style: none;
  border: var(--border);
}

/* line 47, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .about {
  margin-left: 2rem;
}

/* line 51, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .actions,
.sidebar .likes {
  list-style: none;
}

/* line 55, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .actions .header,
.sidebar .likes .header {
  margin-bottom: -.75rem;
}

/* line 59, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .actions .about,
.sidebar .likes .about {
  border-top: var(--border);
  padding-top: .75rem;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 1, app/assets/stylesheets/config/_variables.scss */
:root {
  --font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --line-height-headers: 1.1;
  --line-height-body:    1.5;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;
  --color-primary:          hsl(350, 67%, 50%);
  --color-primary-rotate:   hsl(10, 73%, 54%);
  --color-primary-bg:       hsl(0, 85%, 96%);
  --color-secondary:        hsl(184, 22%, 73%);
  --color-secondary-rotate: hsl(120, 45%, 56%);
  --color-tertiary:         hsl(49, 89%, 64%);
  --color-glint:            hsl(210, 100%, 82%);
  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       var(--color-text-header);
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-dark);
  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}

/* line 1, app/assets/stylesheets/components/_avatar.scss */
.avatar {
  padding: .25rem;
  width: 180px;
  height: 180px;
  position: relative;
  margin: auto;
  margin-bottom: 1.75rem;
  margin-top: 0;
}

/* line 10, app/assets/stylesheets/components/_avatar.scss */
.avatar .avatar::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 16, app/assets/stylesheets/components/_avatar.scss */
.avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 24, app/assets/stylesheets/components/_avatar.scss */
.user_avatar {
  padding: .25rem;
  width: 60px;
  height: 60px;
  position: relative;
  margin: auto;
  margin-bottom: 1.75rem;
  margin-top: 0;
}

/* line 33, app/assets/stylesheets/components/_avatar.scss */
.user_avatar .avatar::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 39, app/assets/stylesheets/components/_avatar.scss */
.user_avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 1, app/assets/stylesheets/components/_posts.scss */
.posts {
  position: absolute;
  flex: 1 1 auto;
  flex-direction: row;
  width: 80%;
  left: 20%;
  list-style: none;
}

/* line 9, app/assets/stylesheets/components/_posts.scss */
.posts .url-small {
  color: grey;
  font-size: smaller;
  border-bottom: 1px dashed grey;
}

/* line 15, app/assets/stylesheets/components/_posts.scss */
.posts .sort {
  margin-left: 1%;
  width: 8.75rem;
  border-bottom: var(--border);
}

/* line 20, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts {
  border-bottom: var(--border);
  margin: 1rem;
}

/* line 23, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts .inline-image {
  position: relative;
  max-height: auto;
  max-width: 300px;
}

/* line 27, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts .inline-image .inline-image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 32, app/assets/stylesheets/components/_posts.scss */
.posts .ind-posts .inline-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 42, app/assets/stylesheets/components/_posts.scss */
.tag-title {
  margin-left: -15.5%;
}

/* line 45, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail {
  position: relative;
  display: block;
}

/* line 49, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail {
  position: relative;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  display: block;
}

/* line 57, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail .thumbnail::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 63, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 71, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail .expand-button {
  max-height: 2px;
  max-width: 2px;
  top: 2px;
  left: 2px;
  position: absolute;
  margin-top: 2px;
}

/* line 79, app/assets/stylesheets/components/_posts.scss */
.img-post-thumbnail .thumbnail .expand-button img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 1, app/assets/stylesheets/components/_post.scss */
.comments {
  display: block;
  top: 0;
  position: sticky;
  text-align: start;
  width: 380.6px;
  margin-left: 80%;
  border-left: var(--border);
  padding: .50rem;
  min-height: fit-content;
  height: 950px;
}

/* line 13, app/assets/stylesheets/components/_post.scss */
.comments .avatar {
  position: relative;
  height: auto;
  width: 80px;
  margin-left: 0;
}

/* line 19, app/assets/stylesheets/components/_post.scss */
.comments .avatar .avatar::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 25, app/assets/stylesheets/components/_post.scss */
.comments .avatar img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 33, app/assets/stylesheets/components/_post.scss */
.comments .message {
  margin-top: 1%;
}

/* line 37, app/assets/stylesheets/components/_post.scss */
.comments h3,
.comments h4,
.comments h5,
.comments h6 {
  border-bottom: var(--border);
  padding-bottom: .25rem;
  background-color: var(--color-secondary);
}

/* line 47, app/assets/stylesheets/components/_post.scss */
.replies {
  margin-left: .25rem;
  background-color: var(--color-secondary);
  border-left: var(--border);
  padding-left: .25rem;
}

/* line 54, app/assets/stylesheets/components/_post.scss */
.post {
  position: relative;
  width: 100%;
  margin: 1rem;
  margin-left: 20%;
}

/* line 60, app/assets/stylesheets/components/_post.scss */
.post .image {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: auto;
  width: 600px;
}

/* line 67, app/assets/stylesheets/components/_post.scss */
.post .image .image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* line 73, app/assets/stylesheets/components/_post.scss */
.post .image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 81, app/assets/stylesheets/components/_post.scss */
.post .caption {
  border: var(--border);
  max-width: 800px;
  height: auto;
  padding: .75rem;
  margin-left: auto;
  margin-right: auto;
  margin: 2rem;
}

/* line 1, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar {
  display: block;
  border-right: var(--border);
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  padding-right: 2rem;
}

/* line 13, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .new_post img {
  margin-right: 6px;
}

/* line 18, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .username {
  margin-left: 2rem;
  border: var(--border);
  background-color: #d6cfcf;
}

/* line 24, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .welcome {
  margin-left: 2rem;
}

/* line 28, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .title {
  border: var(--border);
  margin: .50rem;
  background-color: #d6cfcf;
}

/* line 34, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 12rem;
}

/* line 40, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .taglist {
  display: block;
  padding: 1rem;
  list-style: none;
  border: var(--border);
}

/* line 47, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .about {
  margin-left: 2rem;
}

/* line 51, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .actions,
.sidebar .likes {
  list-style: none;
}

/* line 55, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .actions .header,
.sidebar .likes .header {
  margin-bottom: -.75rem;
}

/* line 59, app/assets/stylesheets/layouts/_sidebar.scss */
.sidebar .actions .about,
.sidebar .likes .about {
  border-top: var(--border);
  padding-top: .75rem;
}

/* line 31, app/assets/stylesheets/application.css.scss */
body {
  margin: 0;
}
