.sidebar {
    display: block;
    border-right: var(--border);
    height: 100%;
    width: 16%;
    position: fixed;
    padding-right: var(--space-xs);
    padding-left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-secondary);

      .title, 
      .author {
        text-align: center;
        margin-left: 1.5rem;
        margin-right: 1rem;
        padding-bottom: .25rem;
      }

      .title {
        border-bottom: var(--border);
      }

      .author {
        margin-top: -1rem;
      }

      .logo {
        margin-left: auto;
        margin-right: auto;
      }

      .about_me, 
      .actions, 
      .votes {
        text-align: left;
        margin-left: 1.5rem;
        margin-right: 1rem;
        list-style: none;

        .header {
          margin-bottom: -.75rem;
        }
        
        .about {
          border-top: var(--border);
          padding-top: .75rem;
        }
      }

}  