.sidebar {
    display: block;
    border-right: var(--border);
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
    padding-right: 2rem;

      .new_post {
        img {
          margin-right: 6px;
        }
      }

      .username {
        margin-left: 2rem;
        border: var(--border);
        background-color: rgb(214, 207, 207);
      }

      .welcome {
        margin-left: 2rem;
      }

      .title {
        border: var(--border);
        margin: .50rem;
        background-color: rgb(214, 207, 207);
      }

      .logo {
        margin-left: auto;
        margin-right: auto;
        max-width: 12rem;
      }

      .taglist {
        display: block;
        padding: 1rem;
        list-style: none;
        border: var(--border);
      }

      .about {
        margin-left: 2rem;
      } 
      
      .actions, 
      .likes {
        list-style: none;

        .header {
          margin-bottom: -.75rem;
        }
        
        .about {
          border-top: var(--border);
          padding-top: .75rem;
        }
      }

}  