<div class="tag">
    <% tags.each do |tag|%>
        <%= link_to tag.name, 
            tag_path(tag), method: :get,
                           class: "get",
                           title: "Get posts" %>
    <% end %>
</div>