<div class="imgpost">
    Image post:
    <%= render "imgform", post: @post %>
</div>

<div class="txtpost">
    Text post:
    <%= render "txtform", post: @post %>
</div>

<div class="lnkpost">
    Article post:
    <%= render "linkform", post: @post %>
</div>

<div class="vidpost">
    Video post:
    <%= render "vidform", post: @post %>
</div>